bcm-db/bcm-scripts/bin
bcm-db/bcm-scripts/include
bcm-db/bcm-scripts/lib
bcm-db/bcm-scripts/.env
bcm-db/bcm-scripts/pyvenv.cfg
.DS_Store
bcm-db/.DS_Store
bcm-db/bcm-scripts/.DS_Store

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
bcm-app/node_modules
bcm-app/.pnp
bcm-app/.pnp.js
bcm-app/.yarn/install-state.gz

# testing
bcm-app/coverage

# next.js
bcm-app/.next/
bcm-app/out/

# production
bcm-app/build

# misc
bcm-app/.DS_Store
*.pem

# debug
bcm-app/npm-debug.log*
bcm-app/yarn-debug.log*
bcm-app/yarn-error.log*

# local env files
bcm-app/.env*.local

# vercel
bcm-app/.vercel

bcm-app/package-lock.json

# typescript
*.tsbuildinfo
next-env.d.ts


bcm-app/package-lock.json


#api
bcm-backend/package-lock.json
bcm-backend/node_modules
bcm-backend/.env